/*@import url("main.css");*/

html {
  height: 100%;
}
html body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(https://scontent-mad1-1.xx.fbcdn.net/v/t1.0-9/70508080_2414028918680755_7049545112455479296_n.jpg?_nc_cat=101&_nc_oc=AQn-4oSY5uQx3eelyIGLQNPW5tgWaW3bH1mGuduwdLkaHn_Y1YSwVgSpc1mfP6aJUj4&_nc_ht=scontent-mad1-1.xx&oh=920b3ef00c9312ceef3b99b8ff8df12c&oe=5E5546E6) fixed;
  display: flex;
  justify-content: center;
  height: 100%;
}
html .contact {
  align-self: center;
}
html .contact i {
  padding: 0 20px;
  font-size: 0.8em;
}
html .contact h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  border: 1px solid #555;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 20px;
  height: 75px;
  color: #fff;
  font-weight: 500;
  line-height: 40px;
  padding-left: 50px;
  text-align: center;
}
html #contactform {
  height: 215px;
}
html #contactform .right {
  float: right;
}
html #contactform input {
  margin-bottom: 14px;
  width: 100%;
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  padding-left: 15px;
  height: 44px;
  border-radius: 0;
}
html #contactform textarea {
  margin-bottom: 14px;
  width: 100%;
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  padding: 15px;
  height: 218px;
  border-radius: 0;
}
html #contactform .btn {
  width: 100%;
  height: 50px;
  border-radius: 0;
  border: 1px solid #333;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}
html #contactform .btn:hover {
  background: rgba(51, 51, 51, 0.7);
}
html #map-canvas {
  width: 100%;
  height: 355px;
  margin-bottom: 7px;
  border: 2px solid #fff;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 10px;
  font-weight: 250;
  padding: 3px 6px;
}
